Python 3:
  script:
  - py_version=3
  - EXTRA_INSTALL="numpy pybind11"
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project.sh
  - ". ./build-and-test-py-project.sh"
  tags:
  - python3
  - linux
  except:
  - tags
  artifacts:
    reports:
      junit: test/pytest.xml
