include import-metis.sh
recursive-include src/metis *.h *.c
include test/*.py
include LICENSE
include src/metis/*.txt
include README.rst

include configure.py
include Makefile.in
include aksetup_helper.py
include README_SETUP.txt
