include import-metis.sh
include src/gklib/*.h
include src/metis/*.h
include test/*.py
include LICENSE
include metis.patch

include distribute_setup.py
include configure.py
include Makefile.in
include aksetup_helper.py
include README_SETUP.txt
